<div class="container">
    <div class="row">
        <div class="col-3 p-2">

            <!-- publisher-->
            <button class="btn btn-block btn-outline-primary" (click)= 'changeName()'>
                All publisher
            </button>
            <button  *ngFor ='let name of names'
            class="btn btn-outline-primary btn-block"
            [class.active] = 'name == selectedName' (click) = 'changeName(name)'>
                {{name}}

            </button>
    
        </div>
        <div class="col-9 p-2">
            <!-- surveys-->
            <div *ngFor = 'let survey of surveys' class="card m-1 p-1 bg-light">
                <h4>
                    {{survey.name}}
                    <span class="badge badge-pill badge-primary float-right">
                        {{survey.published}}
                    </span>
                </h4>
                <div class="card-text bg-white p-1">
                    {{survey.name}}
                </div>
            </div>
        </div>
    </div>
</div>
